<div>
  <div>
    <h1>
      List of all favorites
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new favorite
    </h2>

    <form action="/insert_favorite" method="post">
      <div>
        <label for="moment_id_box">
          Moment
        </label>
        <select name="query_moment_id">
        <% Moment.all.order(:title).each do |a_moment| %>
          <option value="<%= a_moment.id %>">
           <%= a_moment.title %>
          </option>
        <% end %>
        </select>


      </div>

      <button>
        Create favorite
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Moment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_favorites.each do |a_favorite| %>
      <tr>
        <td>
          <%= a_favorite.id %>
        </td>

        <td>
          <%= a_favorite.user.first_name %>
        </td>

        <td>
          <%= a_favorite.moment_id %> 

        <td>
          <%= time_ago_in_words(a_favorite.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_favorite.updated_at) %> ago
        </td>

        <td>
          <a href="/favorites/<%= a_favorite.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
