<div>
  <div>
    <h1>
      Player #<%= @the_player.id %> details
    </h1>

    <div>
      <div>
        <a href="/players">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_player/<%= @the_player.id %>">
          Delete player
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_player.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @the_player.dob %>
      </dd>

      <dt>
        Position
      </dt>
      <dd>
        <%= @the_player.bio %>
      </dd>


      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_player.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_player.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit player
    </h2>

    <form action="/modify_player/<%= @the_player.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_player.name %>">
      </div>

      <div>
        <label for="dob_box">
          Dob
        </label>

        <input type="date" id="dob_box" name="query_dob" value="<%= @the_player.dob %>">
      </div>

      <div>
        <label for="bio_box">
          Bio
        </label>

        <textarea id="bio_box" name="query_bio"><%= @the_player.bio %></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_player.image %>">
      </div>

      <button>
        Update player
      </button>
    </form>
  </div>
</div>

<hr>
